In [17]:
import pandas as pd
import numpy as np
from textblob import TextBlob
import string
import re
from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

In [35]:
df = pd.read_csv('march_tweets.csv')

In [36]:
df.head()

,created_at,id,lang,full_text,verified,author_id,user_loc,hashtags,tweet_loc
0,Mon Mar 01 05:00:59 +0000 2021,1366252100242477057,en,Congrats to PM @narendramodi ji for taking #Co...,False,255873334,New Delhi,"[{'text': 'CoronaVaccine', 'indices': [43, 57]...",NaN
1,Mon Mar 01 05:01:00 +0000 2021,1366252104642224128,en,Did he really take it ??? Can somebody zoom an...,False,2496097650,BangaruTelangana,[],NaN
2,Mon Mar 01 05:01:00 +0000 2021,1366252105166692352,en,Today I called for Auckland to be prioritised ...,True,18149977,"Auckland, New Zealand",[],NaN
3,Mon Mar 01 05:01:00 +0000 2021,1366252105716097024,en,"""Coronaphobia"" is a new term that researchers ...",False,1159274155,NaN,[],NaN
4,Mon Mar 01 05:01:01 +0000 2021,1366252110153662467,en,"In this viral and emotional TikTok, an ICU nur...",False,1159274155,NaN,[],NaN

In [37]:
df.shape[0]

4817138

In [38]:
df = df[df.verified==False]
df.shape[0]

4233676

In [45]:
df['full_text'] = df['full_text'].map(lambda x: str(x).lower())

df = df[df['full_text'].str.contains('covid|covid-19|covid 19|coronavirus|corona virus|2019-ncov|corona|sars-cov-2|sars cov')]

df.shape[0]

2991123

In [41]:
def remove_urls(text):
    text = str(text)
    url_pattern = re.compile(r'https?://\S+|www\.\S+')
    text = url_pattern.sub(r'', text)
    # Words with punctuations and special characters
    text = ' '.join(re.sub("([@#][A-Za-z0-9]+)|([^0-9A-Za-z \t])|(\w+:\/\/\S+)"," ",text).split())
    return text
df['text'] = df['full_text'].apply(remove_urls)

In [43]:
df.head()

,created_at,id,lang,full_text,verified,author_id,user_loc,hashtags,tweet_loc,text
0,Mon Mar 01 05:00:59 +0000 2021,1366252100242477057,en,congrats to pm @narendramodi ji for taking #co...,False,255873334,New Delhi,"[{'text': 'CoronaVaccine', 'indices': [43, 57]...",NaN,congrats to pm ji for taking this will inspire...
3,Mon Mar 01 05:01:00 +0000 2021,1366252105716097024,en,"""coronaphobia"" is a new term that researchers ...",False,1159274155,NaN,[],NaN,coronaphobia is a new term that researchers ha...
6,Mon Mar 01 05:01:03 +0000 2021,1366252117221134338,en,a little information about covid-19 in pregnan...,False,1159274155,NaN,[],NaN,a little information about covid 19 in pregnancy
7,Mon Mar 01 05:01:04 +0000 2021,1366252122581393409,en,new philippines covid-19 rules: pcr test scrap...,False,1091857187935264769,USA,[],NaN,new philippines covid 19 rules pcr test scrapp...
8,Mon Mar 01 05:01:05 +0000 2021,1366252127568363521,en,iran’s health ministry: the country’s coronavi...,False,1338723882899927042,NaN,"[{'text': 'newsexpresspost', 'indices': [113, ...",NaN,iran s health ministry the country s coronavir...

In [44]:
df.to_csv('Marcleaned_tweets_.csv', sep=',', index=False)